$default-w: 100%;
$default-h: fit-content;
$default-radius: 1em;
$border-color: #d3d3d39a;
$border-color-shade-1: #ededed;
$border-color-shade-2: #edededdb;
$border-color-darker-1: #a4a4a4;
$border-color-darker-2: #888888;
$table-padding: 0.6em 1em;
$border-radius: 1em;
$prim-color: #0d6efd;
$prim-color-slight-shade: #589bff;
$prim-color-shade-1: #e1edff;
$sec-color: #fafafa;
$sec-color-shade-1: #f0f0f0;
$navbar-h: 90px;
$plusplus: #aeffae73;
$moinsmoins: #ffadad67;

.hidden {
  display: none !important;
}
