@import "variables";

body {
  background-color: $sec-color;
  overflow-y: hidden;
}

.navbar {
  a {
    text-decoration: none;
  }

  .navicons {
    color: $prim-color;
    font-size: 1.3rem;
  }
}

#container {
  display: flex;
  height: calc(100vh - $navbar-h);
  overflow: hidden;

  .sidebar {
    height: calc(100vh - $navbar-h);
    padding: 2em;

    $color: #b4b4b4;

    .menu-title {
      color: $color;
      text-transform: uppercase;
      font-size: 0.8em;
      margin-bottom: 1.3em;
      text-align: center;
    }

    .icons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;

      a {
        display: contents;

        .icons {
          color: $color;
          border-radius: 9999px;
          padding: 19px;
          font-size: 14px;
          transition: all 0.3s;
        }

        .icons:hover {
          color: black;
          background-color: $sec-color-shade-1;
        }

        .icons.active {
          color: $prim-color;
          background-color: $prim-color-shade-1;
        }
      }
    }
  }

  #content {
    background-color: white;
    min-height: calc(100vh - $navbar-h);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2em;
    border-radius: 1em;
  }
}
